w2c/ben.txt.gz
w2c/bpy.txt.gz
w2c/guj.txt.gz
w2c/hif.txt.gz
w2c/hin.txt.gz
w2c/kan.txt.gz
w2c/mal.txt.gz
w2c/mar.txt.gz
w2c/pnb.txt.gz
w2c/tam.txt.gz
w2c/tel.txt.gz
w2c/urd.txt.gz
oscar-inria/as.txt.gz
oscar-inria/bh.txt.gz
oscar-inria/bn.txt.gz
oscar-inria/gom.txt.gz
oscar-inria/gu.txt.gz
oscar-inria/hi.txt.gz
oscar-inria/kn.txt.gz
oscar-inria/ml.txt.gz
oscar-inria/mr.txt.gz
oscar-inria/or.txt.gz
oscar-inria/pa.txt.gz
oscar-inria/sa.txt.gz
oscar-inria/sd.txt.gz
oscar-inria/ta.txt.gz
oscar-inria/te.txt.gz
oscar-inria/ur.txt.gz
dakshina/v1.0/*
deltacorpus-1.1/POS_TAGSET.txt
deltacorpus-1.1/README_orig.txt
deltacorpus-1.1/*.txt.gz
indiccorp/data/*
